<%- include('./layout/header') %>

<h1><%= title %></h1>

<form method="post" action="/users/login">
    
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" placeholder="Email">
    </div>



    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control"  placeholder="Password">
    </div>

    <button type="submit" class="btn btn-default">Log in</button>
</form>

<%- include('./layout/footer') %>
